<h1>Editing user</h1>

Please update you user settings at <a href="https://webeeh.gdev.com/projects/user/edit">https://webeeh.gdev.com/projects/user/edi</a><br>
Once you updated on webeeh, the changes will be applied to VDI in 1 hour <br>
<br>
<br>
<br>
<%= link_to 'Main', :action => 'welcome'%>&nbsp;
