<html>
  <body>
  <div align=center > <h2>
<% t = Time.now() %>
 <font color=silver> Copyright ©<%=t.year.to_s%>, GDev FZ LLC. All Rights Reserved.</font> </h2></div>
   &nbsp &nbsp &nbsp COPYRIGHTS/ PROPRIETARY RIGHTS NOTICE: This website (“Website”) and the information, data, images or other contents herein (“Content/s”) are the intellectual property of GDEV FZ LLC (“GDev”) and are protected by applicable copyright and proprietary rights and may not be used except in accordance with the terms and conditions of this Website. All rights herein are reserved by GDev. You agree that you will not copy, download, reproduce or distribute any Content or modify, edit or take out of context any Content such that its use creates a false or misleading statement as to the position, action or statement of GDev, or remove or obscure any copyright or other notices contained in any Content without the prior written consent of GDev.
  </body>
</html>